body, html {
	margin:0;
	padding:0;
}
/*FOND QUI SE DEPLACE AU DEBUT*/
@-webkit-keyframes deplacement {
	0% { 
	background-position: -50% top; 
	}
	50% { 
	background-position: center top; 
	}
	100% {
	background-position: -50% top; 
	}
}

@keyframes deplacement {
	0% { 
	background-position: -50% top; 
	}
	50% { 
	background-position: center top; 
	}
	100% {
	background-position: -50% top; 
	}
}


body {
	-webkit-animation: 10s deplacement ease-in-out infinite;
	animation: 10s deplacement ease-in-out infinite;
	background-image: url('../images/fond.png');
	background-position: center top;
	background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

a {
	text-decoration: none;
}

/*CONTENU*/
/*ANIMATION D'APPARITION*/
@-webkit-keyframes deplacement1 {
	from { 
	opacity:0;
	 -webkit-transform: translateX(-60%) translateY(-50%);
	}
	to { 
	opacity:1;
	 -webkit-transform: translateX(-50%) translateY(-50%);
	}
}

@keyframes deplacement1 {
	from { 
	opacity:0;
	 -webkit-transform: translateX(-60%) translateY(-50%);
	}
	to { 
	opacity:1;
	 -webkit-transform: translateX(-50%) translateY(-50%);
	}
}

.contenu {
	-webkit-animation: 0.5s deplacement1 ease-in;
	animation: 0.5s deplacement1 ease-in;
	margin-top: 5px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%); /*Pour centrer verticalement*/
    left: 50%;
}

/*TITRE*/

#tres-grand-titre {
	font-family: Arial;
	font-size: 50px;
	color: #fff;
	font-style: italic;
	letter-spacing: -4px;
	text-shadow: -2px 0 0 rgba(0,0,0,0.5);
} 

/*DESCRIPTION*/

.bloc-description {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 1px solid #fff;
}

.bienvenue {

	background-color: rgba(255,255,255,0.5);
	padding: 5px;
	margin-bottom: 3px;
}

#bienvenue-texte {
	text-align: center;
	font-family: Arial;
	font-size: 15px;
}

.description {
	border: 1px solid #9fe4be;
    background-color: seagreen;
    padding: 10px;
}

#description-texte {
	text-indent: 5em;
	text-align: justify;
    font-family: Arial;
    font-size: 15px;
    box-shadow: 0 0 10px #000 inset;
    color: rgb(229, 255, 240);
    text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
}
/*FIN DESCRIPTION*/
td {
	text-align: center;
	padding: 5px;
	color: #fff;
	width: 50%;
	font-size: 12px;
	font-family: Arial;
}
/*DEBUT INFOS SITE*/
/* BOUTON ENTRER */
@-webkit-keyframes apparition {
	from { 
	opacity:0;
	 -webkit-transform: translateY(30%);
	}
	to { 
	opacity:1;
	 -webkit-transform: translateY(0);
	}
}

.bouton-entrer  {
	animation: 1s apparition ease-in-out;
	line-height: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px 15px 5px 15px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	width: 120px;
	color: white;
}

.bouton-entrer:hover  {
	background-color: rgba(0,0,0,0.2);
	text-shadow: 0 0 3px #fff;
	letter-spacing: 3px;
	border: solid 1px #fff inset;
}

#bouton-entrer-texte {
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	font-family: Arial;
	text-align: center;
	text-transform: uppercase;
}
/* FIN BOUTON ENTRER */
/*BARRE DE DEFILEMENT*/
::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}
/*FIN BARRE DE DEFILEMENT*/
/*SELECTION*/
::selection {
	color: white;
	background: rgb(21, 24, 38);
}
/*FIN SELECTION*/
